
<h2>Images:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Repository</th>
            <th>VirtualSize</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="image in images | orderBy:predicate">
            <td>{{ image.Id}}</td>
            <td>{{ image|repotag }}</td>
            <td>{{ image.VirtualSize|humansize }}</td>
            <td>{{ image.Created|getdate }}</td>
        </tr>
    </tbody>
</table>
